p {
  margin: 0;
}

img {
  width: 100%;
  height: auto;
}

.theme-toggle {
  position: absolute;
  right: 1em;
}

.article {
  margin: 1em;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.headline {
  overflow: auto;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: -1px;
  margin-bottom: 0.5em;
}

.date-container {
  display: flex;
}

.plus-logo {
  width: auto;
  height: 1em;
  margin-left: 0.5em;
}

.block {
  margin-bottom: 1em;
}

.container {
  max-width: 50em;
  overflow-x: auto;
  margin: 2em;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  border-left: 0.5em solid blue;
  align-items: baseline;
  padding-left: 1.5em;
}

.quote-text {
  font-size: 2em;
  font-style: italic;
}

.quote-attribution {
  font-size: 1em;
  margin-top: 8px;
}
