.welcome-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
  color: var(--text-color);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.load-buttons {
  display: flex;
  flex-direction: column;
}

.theme-toggle {
  position: absolute;
  right: 1em;
}
