.light {
  --background-color: #ffffff;
  --text-color: #000000;
  background-color: #ffffff;
  color: #000000;
  transition: background-color 1s;
}

/* Dark Theme */
.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 1s;
}

.themeToggle {
  position: absolute;
}

button {
  display: none;
}

input {
  display: none;
}

.custom-button {
  border: 1px solid var(--text-color);
  padding: 4px 8px;
  cursor: pointer;
  margin: 4px;
  text-align: center;
}
